<div>
    <h1>Librería</h1>

    <form #comicForm="ngForm">

        <label>Nombre</label>
        <input type="text" name="cajanombre"
        #cajanombre />
        <br>
        <label>Imagen</label>
        <input type="text" name="cajaimagen"
        #cajaimagen />
        <br>
        <label>Descripcion</label>
        <input type="text" name="cajadesc"
        #cajadesc />
        <br>
        <button (click)="nuevoComic()">Añadir</button>

    </form>

    <hr>
    <p style="color: rebeccapurple;">{{mensaje}}</p>
    
    <div *ngFor="let comic of comics">

        <app-comic [comic]="comic"
        (seleccionarFavorito)="seleccionarFavorito($event)"
        (eliminarComic)="eliminarComic($event)"
        (modificarComic)="modificarComic($event)"
        ></app-comic>

    </div>
</div>